.calculator {
  margin: 0 50%;
  text-align: center;
}
.shell {
  background-color: #808080;
  width: 150px;
  text-align:center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 3px black solid;
}

#display {
 width: 130px; 
  margin-bottom: 10px;
  text-align: right;
}



.button {
  background: #6699ff;
  outline: none;
  margin-bottom: 3px;
  border-radius: 5px;
  
}

.button-small {
  height: 30px;
  width: 30px;
}

.bigbutton {
  width: 64px; 
}